spring.datasource.url= jdbc:postgresql://localhost:{{ db_port_play }}/{{ db_name_play }}
spring.datasource.username={{ db_user_play }}
spring.datasource.password={{ db_password_play }}

##BINDING TOMCAT ON MANAGEMENT IP ADDRESS
#server.address=
server.port={{ server_port_play }}

spring.rabbitmq.host=localhost

spring.jpa.hibernate.ddl-auto={{ hibernate_ddl_auto_play }}

security.passwordEncoder=BCRYPT

sebastian.localTmpDir=/tmp

sebastian.admin=admin

nfvo.type={{ nfvo_type_play }}

nfvo.address={{ nfvo_address_play }}

translator.type=BASIC

arbitrator.type=BASIC

#polling period for TIMEO NFVO operations in seconds
sebastian.nfvo.timeo.polling={{ nfvo_polling_play }}
